/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/ansible-automation
/public/uploads
.DS_Store
/sftp-config.json
bootstrap/app.php
#/storage/oauth-*
/config
BaltimoreCyberTrustRoot.crt.pem
composer-live.json
dorcas-api.yaml
dorcas-base.yml
dorcas-base.sql
dorcas-update.sql
dorcas.sql
rds-ca-2019-root.pem
ansible-automation
/.phpintel