/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/ansible-automation
/public/uploads
.DS_Store
/sftp-config.json
bootstrap/app.php
#/storage/oauth-*
/config
BaltimoreCyberTrustRoot.crt.pem
composer-live.json
composer-dev.json
storage/logs/*