<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SUPER_ADMIN_EMAIL" value="superadmin@lms.test"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SUPER_ADMIN_PASSWORD" value="password"/>
        <env name="TEST_LOGIN_EMAIL" value="ayotomideaina@gmail.com"/>
        <env name="TEST_LOGIN_PASSWORD" value="password"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="CLIENT_ID" value="2"/>
        <env name="CLIENT_SECRET" value="hFWx5xkPbVKXvLwD17Lbl5MFczORgKZwvawKOzpc"/>
    </php>
</phpunit>
